.attach_btn {
  width: 48px;
  height: 48px;

  border: none;
  border-radius: 50%;

  cursor: pointer;

  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.2s;

  background: #eef2f7;
  color: #4b5563;

  &:hover {
    background-color: #e5e7eb;
  }
}